    /* Small devices (landscape phones, 576px and up) */
    
    @media (max-width: 575.98px) {
        /* HEADER */
        .header {
            display: none;
            overflow: hidden;
        }
        .pos-f-t {
            display: block;
        }
        .pos-f-t .navbar.navs .logo img {
            width: 120px;
            height: 60px;
            position: inherit;
            margin-left: 0rem;
        }
        .pos-f-t .navbar.navs {
            padding-left: 1rem;
        }
        #navbarToggleExternalContent .p-4 .m_links {
            display: inline-block;
        }
        #navbarToggleExternalContent .p-4 .m_links a {
            color: #fff;
            text-transform: capitalize;
            font-size: 0.9rem;
            padding: 1rem 0rem;
            display: block;
        }
        #navbarToggleExternalContent .p-4 .dropdown {
            padding-right: 0rem;
        }
        #navbarToggleExternalContent .p-4 .dropdown .dropbtn span.name {
            font-size: 0.8rem;
            color: #fff;
        }
        #navbarToggleExternalContent .p-4 .dropdown .dropbtn {
            padding: 0.2rem;
        }
        #navbarToggleExternalContent .p-4 .dropdown .dropbtn i {
            color: #fff;
            border: 1px solid #fff;
            font-size: 0.8rem;
        }
        #navbarToggleExternalContent .p-4 .dropdown .dropdown-content {
            bottom: 25rem;
            right: 1rem;
            min-width: 120px;
        }
        #navbarToggleExternalContent .p-4 .dropdown .dropdown-content a {
            font-size: 0.8rem;
            padding: 6px 12px;
        }
        #navbarToggleExternalContent .p-4 .dropdown .dropdown-content span {
            padding-left: 0;
        }
        /* END OF HEADER  */
        /* SEARCH */
        .search {
            padding: 2rem 0;
        }
        .search h1 {
            font-size: 1.5rem;
        }
        .search a {
            padding-top: 0.5rem;
            font-size: 1rem;
            display: block;
        }
        .search .seaech_items {
            padding-top: 2rem;
        }
        .search .seaech_items h5 {
            font-size: 1rem;
        }
        .search .seaech_items .items {
            width: 95%;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
        select {
            padding-right: 0rem;
            text-align: center;
            margin: auto;
            width: 100%;
        }
        .search .items div {
            padding: 0 1rem;
            margin-bottom: 1rem;
            display: block;
        }
        .search .items label.select:after {
            right: 0px;
            top: 8px;
        }
        /* END OF SEARCH */
        /* OFFER */
        .offer {
            margin-top: 1rem;
        }
        .offer h2 {
            font-size: 1.5rem;
        }
        .offer h4 {
            width: 90%;
        }
        .offer .row {
            padding: 0;
        }
        .offer .container {
            width: 300px;
            height: 100px;
            margin-bottom: 1rem;
        }
        .offer .container img {
            height: 100px;
        }
        .offer .container .centered {
            top: 75%;
        }
        .offer .container h5 {
            font-size: 1rem;
        }
        /* END OF OFFER */
        /* FOOTER */
        .footer {
            margin-top: 1rem;
        }
        .t_footer {
            padding: 1rem;
            padding-top: 1rem;
        }
        .t_footer h2 {
            font-size: 1.5rem;
        }
        .t_footer.row div:not(:first-child) {
            margin-top: 1rem;
        }
        .b_footer {
            padding: 1rem;
            padding-bottom: 0rem;
        }
        .b_footer .copy_right {
            margin: 0.5rem 0;
            text-align: start;
        }
        .b_footer .social_media {
            padding: 0px 1rem;
        }
        .b_footer .copy_right h5 {
            font-size: 0.8rem;
        }
        .footer .title {
            display: none;
        }
        /* END OF FOOTER */
    }
    /* Small devices (landscape phones, less than 768px) */
    
    @media (min-width: 576px) and (max-width: 767.98px) {
        /* FOOTER */
        .footer {
            display: block;
            overflow: hidden;
            margin-top: 2rem;
        }
        .t_footer {
            padding: 1rem 2rem;
            padding-top: 1rem;
        }
        .t_footer.row div:not(:first-child) {
            margin-top: 1rem;
        }
        .t_footer h2 {
            font-size: 2rem;
        }
        .b_footer {
            padding: 1rem 2rem;
        }
        .b_footer .social_media {
            padding: 0 1rem;
        }
        .b_footer .copy_right h5 {
            font-size: 0.8rem;
        }
        .b_footer .copy_right {
            text-align: start;
        }
        .footer .title {
            display: none;
        }
        /* END OF FOOTER */
        /* OFFER */
        .offer h4 {
            width: 80%;
        }
        .offer .row {
            padding: 1rem;
        }
        .offer .container img {
            height: 80px;
        }
        .offer .container {
            width: 150px;
            height: 80px;
            padding: 0;
        }
        .offer .container h6 {
            font-size: 0.5rem;
            letter-spacing: 0px;
        }
        .offer .container h5 {
            letter-spacing: 0px;
            font-size: 0.7rem;
        }
        /* END OF OFFER */
        /* SEARCH */
        .search {
            padding: 2rem 0;
        }
        .search .seaech_items {
            padding-top: 2rem;
        }
        .search .seaech_items .items {
            width: 95%;
            padding-bottom: 2rem;
        }
        .search .items div {
            margin-bottom: 1rem;
        }
        .search a {
            font-size: 1.8rem;
            margin-top: 0.5rem;
            display: block;
        }
        .search h1 {
            font-size: 2.2rem;
        }
        /* END OF SEAECH */
        /* HEADER */
        .header {
            display: none;
            overflow: hidden;
        }
        .pos-f-t {
            display: block;
        }
        .pos-f-t .navbar.navs .logo img {
            width: 120px;
            height: 60px;
            position: inherit;
            margin-left: 0rem;
        }
        .pos-f-t .navbar.navs {
            padding-left: 1rem;
        }
        #navbarToggleExternalContent .p-4 .m_links {
            display: inline-block;
        }
        #navbarToggleExternalContent .p-4 .m_links a {
            color: #fff;
            text-transform: capitalize;
            font-size: 1rem;
            padding: 1rem 0rem;
            display: block;
        }
        #navbarToggleExternalContent .p-4 .dropdown {
            padding-right: 0rem;
        }
        #navbarToggleExternalContent .p-4 .dropdown .dropbtn span.name {
            font-size: 1rem;
            color: #fff;
        }
        #navbarToggleExternalContent .p-4 .dropdown .dropbtn {
            padding: 1rem;
        }
        #navbarToggleExternalContent .p-4 .dropdown .dropbtn i {
            color: #fff;
            border: 1px solid #fff;
            font-size: 1rem;
        }
        #navbarToggleExternalContent .p-4 .dropdown .dropdown-content {
            bottom: 23rem;
            right: 2rem;
            min-width: 125px;
        }
        #navbarToggleExternalContent .p-4 .dropdown .dropdown-content a {
            font-size: 0.8rem;
            padding: 6px 12px;
        }
        #navbarToggleExternalContent .p-4 .dropdown .dropdown-content span {
            padding-left: 0;
        }
        /* END OF HEADER */
    }
    /* Medium devices (tablets, less than 992px) */
    
    @media (min-width: 768px) and (max-width: 991.98px) {
        /* FOOTER */
        .footer {
            margin-top: 2rem;
        }
        .t_footer {
            padding: 2rem;
            padding-top: 2rem;
        }
        .t_footer.row div:not(:first-child) {
            margin-top: 1rem;
        }
        .b_footer .social_media {
            padding: 0 3rem;
        }
        .b_footer {
            padding: 1rem 0rem;
        }
        .b_footer .copy_right {
            text-align: start;
        }
        .footer .title {
            display: none;
        }
        /* END OF FOOTER */
        /* OFFER */
        .offer h4 {
            width: 60%;
        }
        .offer .container img {
            height: 100px;
        }
        .offer .row {
            padding: 1rem 1rem;
        }
        .offer .container {
            width: 255px;
            height: 100px;
        }
        .offer .container h5 {
            letter-spacing: 2px;
            font-size: 1rem;
        }
        .offer .container h6 {
            letter-spacing: 2px;
        }
        /* END OF OFFER */
        /* SEARCH */
        .search {
            padding: 2rem 0;
        }
        .search a {
            margin-top: 1rem;
            display: block;
        }
        .search .seaech_items {
            padding-top: 2rem;
        }
        .search .seaech_items .items {
            width: 95%;
            padding-bottom: 2rem;
        }
        .search .items div {
            margin-bottom: 1rem;
        }
        /* END OF SEARCH */
        /* HEADET */
        .pos-f-t {
            display: none;
        }
        .t_header {
            padding-right: 2rem;
        }
        .navbar .links a {
            padding: 0 0.5rem;
        }
        .navbar .links {
            padding: 1rem 0;
            margin-left: 0rem;
            display: inline-block;
        }
        .navbar {
            margin: 0rem 0;
            padding-left: 0rem;
        }
        .dropdown {
            padding-right: 0;
        }
        .dropdown-content {
            bottom: 19rem;
            right: 2rem;
        }
        .navbar .logo img {
            width: 150px;
            height: 65px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin-left: 0;
        }
        /* END OF HEADER */
    }
    /* Large devices (desktops, less than 1200px) */
    
    @media (min-width: 992px) and (max-width: 1199.98px) {
        /* HEADET */
        .pos-f-t {
            display: none;
        }
        .navbar .links {
            text-align: right;
            padding: 1rem 0;
            margin-left: 2rem;
        }
        .navbar .logo img {
            width: 175px;
            height: 90px;
            top: 4rem;
            margin-left: 1rem;
        }
        .navbar .links a {
            padding: 0 0.5rem;
        }
        .dropdown {
            padding-right: 1rem;
        }
        .t_header {
            padding-right: 2rem;
        }
        .navbar {
            padding-left: 8rem;
        }
        .dropdown-content {
            bottom: 19rem;
            right: 3rem;
        }
        /* END OF HEADER */
        /* SEARCH */
        .search {
            padding: 3rem 0;
        }
        .search a {
            margin-top: 1rem;
            display: block;
        }
        .search .seaech_items {
            padding-top: 2rem;
        }
        .search .seaech_items .items {
            width: 85%;
            padding-bottom: 2rem;
        }
        /* END OF SEARCH */
        /* OFFER */
        .offer .row {
            padding: 1rem 4rem;
        }
        .offer .container {
            width: 300px;
            height: 120px;
        }
        .offer .container img {
            height: 120px;
        }
        .offer .container h5 {
            letter-spacing: 2px;
        }
        /* END OF OFFER */
        /* FOOTER */
        .footer {
            margin-top: 2rem;
        }
        .t_footer {
            padding: 1rem 5rem;
            padding-top: 5rem;
        }
        .b_footer {
            padding: 1rem 2rem;
        }
        .footer .title h3 {
            top: 69rem;
            right: 37rem;
        }
        /* END OF FOOTER */
    }
    /* Large devices (desktops, less than 1300px) */
    
    @media (min-width: 1200px) and (max-width: 1299.98px) {
        /* HEADER */
        .navbar .logo img {
            margin-left: 1rem;
        }
        /* END OF HEADER */
        /* OFFER */
        .offer .row {
            padding: 1rem 4rem;
        }
        .offer .container {
            width: 300px;
            height: 120px;
        }
        .offer .container img {
            height: 120px;
        }
        .offer .container h5 {
            letter-spacing: 2px;
        }
        /* END OF OFFER */
        /* FOOTER */
        .footer .title h3 {
            top: 76rem;
            right: 38rem;
        }
        /* END OF FOOTER */
    }