@charset "UTF-8";

/* HEADER */

.header {
    display: block;
    overflow: hidden;
}

.pos-f-t {
    display: none;
}

.t_header {
    background: #e10126;
    text-align: right;
    display: block;
    padding-right: 7rem;
    padding-bottom: 0.2rem;
    padding-top: 0.1rem;
}

.t_header a {
    margin-right: 1rem;
    color: #fff;
    font-size: 0.8rem;
}

.t_header a i {
    margin-right: 0.1rem;
}

.t_header a span {
    font-weight: 500;
}

.navbar {
    overflow: hidden;
    margin: 0rem 0;
    background: #fff;
    padding-left: 5rem;
    position: inherit;
}

.navbar .logo img {
    width: 200px;
    height: 90px;
    position: absolute;
    top: 4rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 4rem;
}

.navbar .links {
    text-align: right;
    padding: 1rem 0;
    margin-left: 5rem;
}

.navbar .links a {
    color: #000;
    text-transform: capitalize;
    border-right: 1px solid #ccc;
    font-size: 0.9rem;
    padding: 0 1rem;
}

.navbar .links a:last-child {
    border-right: 0;
}

.dropdown {
    float: right;
    overflow: hidden;
    position: inherit;
    padding-right: 6rem;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    border: none;
    outline: none;
    margin: 1rem 0.1rem;
    padding: 1rem;
    border-radius: 20px;
    background: inherit;
    box-shadow: 10px -10px 17px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.dropdown .dropbtn img {
    max-width: 25px;
    max-height: 30px;
    border-radius: 25px;
    margin: 0 0.2rem;
}

.dropdown .dropbtn span {
    color: #7f7f7f;
    text-transform: capitalize;
}

.dropdown .dropbtn span.name {
    color: #2b3163;
    font-weight: 500;
}

.dropdown .dropbtn i {
    color: #2b3163;
    border: 1px solid #2b3163;
    border-radius: 30px;
    background: inherit;
    padding: 0.2rem 0.2rem;
    margin-left: 1rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 185px;
    box-shadow: 10px -10px 17px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    z-index: 1;
    border-radius: 20px;
    bottom: 22rem;
    right: 8rem;
}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content i {
    color: #7f7f7f;
    border: 1px solid #7f7f7f;
    border-radius: 30px;
    background: inherit;
    padding: 0.2rem 0.2rem;
}

.dropdown-content span {
    color: #7f7f7f;
    text-transform: capitalize;
    padding-left: 0.5rem;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
    transform: translate(0px, -10px) scale(1.2);
}


/* END OF HEADER */


/* SEARCH */

.search {
    display: block;
    overflow: hidden;
    background: #475064;
    text-align: center;
    padding: 5rem 0;
}

.search h1 {
    text-transform: capitalize;
    color: #fff;
    margin: 0;
}

.search a {
    text-transform: capitalize;
    color: #fff;
    font-size: 2rem;
    display: block;
    margin-top: 1rem;
}

.search .seaech_items {
    padding-top: 2rem;
}

.search .seaech_items h5 {
    margin: 0;
    text-transform: capitalize;
    color: #fff;
    font-weight: normal;
    padding-bottom: 1rem;
}

.search .seaech_items .items {
    background: #fff;
    float: none;
    margin: auto;
    width: 80%;
    padding-top: 2rem;
    padding-bottom: 3rem;
    border-radius: 25px;
}

.search .seaech_items .items button {
    color: #fff;
    text-transform: capitalize;
    background: #e10126;
    border: 0;
    border-radius: 25px;
    width: 95%;
    padding: 0.2rem;
}

.search .seaech_items .items button:focus {
    outline: none;
    border: none;
}

.search .seaech_items .items button i {
    border-radius: 25px;
    border: 1px solid;
    font-size: 0.5rem;
    padding: 0.2rem;
    vertical-align: middle;
}

.search .seaech_items .items form {
    text-align: left;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-right: 0.5rem;
}

.search .seaech_items .items form label {
    color: #7f7f7f;
    text-transform: capitalize;
    font-weight: 500;
}

.search .items div {
    display: inline-block;
    padding: 0 1.5rem;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    display: block;
    font-family: 'FontAwesome';
    content: '\f107';
    border: 0;
    border-bottom: 1px solid #aeaeae;
    padding-right: 5rem;
}

label.select {
    position: relative;
    display: block;
}

label.select:after {
    content: "\f078";
    font-family: "FontAwesome";
    font-size: 11px;
    color: #aeaeae;
    right: 8px;
    top: 4px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
}

label.select:before {
    content: '';
    right: 4px;
    top: 0px;
    width: 23px;
    height: 18px;
    background: #fff;
    position: absolute;
    pointer-events: none;
    display: block;
}


/* END OF SEARCH */


/* OFFER */

.offer {
    display: block;
    overflow: hidden;
    background: #fff;
    margin-top: 2rem;
}

.offer h2 {
    text-align: center;
    text-transform: capitalize;
    margin: 0;
}

.offer h4 {
    text-align: center;
    color: #7f7f7f;
    font-size: 1rem;
    font-weight: normal;
    width: 40%;
    margin: auto;
    padding: 1rem 0;
}

.offer .row {
    padding: 1rem 8rem;
}

.offer .container {
    position: relative;
    text-align: center;
    color: white;
    width: 350px;
    height: 150px;
}

.offer .container img {
    width: 100%;
    border-radius: 30px;
    height: 150px;
    box-shadow: 10px -10px 17px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.offer .container .centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.offer .container h5 {
    text-transform: capitalize;
    color: #000;
    margin: 0;
    letter-spacing: 3px;
}

.offer .container h6 {
    text-transform: uppercase;
    color: #454444;
    margin: 0;
    font-size: 0.7rem;
    letter-spacing: 4px;
}


/* END OF OFFER */


/* FOOTER */

.footer {
    display: block;
    overflow: hidden;
    margin-top: 5rem;
}

.footer .title {
    display: block;
}

.footer .title h3 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 1rem;
    background: #fa0000;
    border: 1px solid #fa0000;
    border-radius: 45px;
    position: absolute;
    top: 76rem;
    right: 43rem;
    padding: 2rem 1.5rem;
}

.t_footer {
    background: #202021;
    padding: 1rem 8rem;
    padding-top: 5rem;
}

.t_footer h2 {
    color: #fff;
    text-transform: capitalize;
    font-size: 2.5rem;
}

.t_footer p {
    color: #fff;
    font-size: 0.9rem;
    margin-right: 3rem;
    max-height: 65px;
    overflow: hidden;
}

.t_footer h4 {
    color: #fff;
    font-size: 1rem;
    font-weight: normal;
    text-transform: capitalize;
}

.t_footer a {
    display: block;
}

.t_footer .links a {
    color: #a7adba;
    font-size: 0.8rem;
    padding: 0.2rem 0;
    text-transform: capitalize;
}

.t_footer hr {
    border-top: 1px solid #e10e2a;
    display: block;
    width: 30px;
    margin-top: 0;
    margin-bottom: 0.7rem;
}

.b_footer {
    background: #9a9a9a;
    padding: 1rem 5rem;
}

.b_footer .social_media {
    padding: 0 4rem;
}

.b_footer .social_media a i {
    color: #fff;
    padding-right: 1rem;
}

.b_footer .copy_right {
    text-align: center;
}

.b_footer .copy_right h5 {
    color: #fff;
    font-size: 1rem;
    display: inline-block;
}

#return-to-top {
    display: inline-block;
    float: right;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    font-size: 2rem;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


/* END OF FOOTER */